@import "tailwindcss";
@plugin "daisyui" {
	themes:
		retro --default,
		dark --prefersdark;
}

@theme {
	--font-sans: "DM Sans", sans-serif;
	--font-heading: "Fraunces", serif;
	--font-handwriting: "Caveat", cursive;
	--font-data: "Space Grotesk", sans-serif;
}
